# .htaccess in the root directory

# Enable URL rewriting
RewriteEngine On

# Redirect all requests to the public/index.php file
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/index.php [L,QSA]